body {
  background: url(pic.jpg);
  font-size: 50px;
  margin-top: 10px;
  background-color: ;
}

input {
  font-size: 30px;
  border-color: black;
  margin: 10px
  border-width:2px;
  border: 2px;
  display: block;
  border-radius: 20px;
  text-align: center;
}
label {
  float: left;
  font-size: 17px;

}
.textbox1 {
  border-color: black;
  margin: 10px
  border-width: 2px;
  border: 2px;
  display: block;
  border-radius: 20px
}

h1 {
  color: black;
  font-size: 40px;
  text-align: center;
  font-family: sans-serif;
  

.btn {
  float: left;
  margin-top: 20px;
}

footer{
  font-size: 20px;
  margin-top: 300px;
}
