body{
  margin:0;
  padding:0;
  font-family: Arial, Helvetica, sans-serif;
  background: url(mac.jpg);
  background-size: cover;
  box-sizing: border-box;

}

.registrationform{
  width: 100%;
  max-width: 500px;
  position:fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px 50px;
  background: #f3f3f3;
  text-align: center;

}
.registrationform h1{
  font-size: 50px;
  font-family:cursive;
}


.form{
  border: 1px solid grey;
  margin: 8px 0px;
  padding: 15px 20px;
  border-radius: 8px;
  display: block;
  text-align: left;
  font-size: 17px;
  margin-bottom: 14px

}
.form input, date{
  width: 100%;
  border: none;
  background: none;
  outline: none;
  font-size: 15px;
  margin-top: 6px;

}

.submit input[type = submit]{
  width: 100%;
  display: block;
  background: #F06A00;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  padding: 14px 0px;
  color: white;
  text-transform: uppercase;
}
.footer{
    text-align: center;

}
